[2019-06-27 17:44] saubyk opened #2 "Add API coverage for Payments"
C-lightning cli commands to cover:
- pay
- listpayments
- listpays
- decodepay

[2019-06-27 17:45] saubyk opened #3 "Add API coverage for Invoices"
C-lightning cli commands to cover:
- invoice
- listinvoices
- delexpiredinvoice

[2019-06-27 17:46] saubyk opened #4 "Authentication for API access"
Implement macaroons for a bearer token based access solution.
A macaroon called `access.macaroon`, should be generated when the server is run for the first time. The generated macaroon should be passed in the request headers of the APIs for verification and authentication.

macaroon library which can be utilized:
https://github.com/go-macaroon/js-macaroon

Sample implementations (Thanks Oli @gugge

[2019-06-27 17:47] saubyk opened #5 "Encrypt the connection between API server and c-lightning"
REST API server linkage with c-lightning should be encrypted via an SSL connection.

[2019-08-10 12:45] saubyk commented on #5
REST API server linkage with c-lightning should be encrypted via an SSL connection.
Need to integrate with lets-encrypt with auto-renewal of the certificate.

[2019-08-10 23:24] saubyk commented on #2
All the payment APIs specified in this issue have been added.

[2019-08-10 23:24] #2 closed

[2019-08-11 13:25] saubyk commented on #3
Invoice apis added.

[2019-08-11 13:25] #3 closed

[2019-08-17 02:40] saubyk commented on #5
https enabled with openssl self-signed certificate.

[2019-08-17 02:40] #5 closed

[2019-08-17 02:46] saubyk opened #7 "Create a config file for customization of parameters"
Create a config JSON file, to handle a variety of params.
E.g. Port, Password etc.

[2019-08-31 00:42] saubyk commented on #4
Macaroon based authentication implemented.

[2019-08-31 00:42] #4 closed

[2019-08-31 13:22] saubyk opened #8 "First time install fails for the missing `certs` folder"

[2019-09-01 19:33] saubyk commented on #8
Fixed.

[2019-09-01 19:33] #8 closed

[2019-09-03 01:23] saubyk opened #9 "Add fee rate and min conf options to the withdraw api"
Add fee rate and min conf options to the withdraw api

[2019-09-03 01:26] saubyk opened #10 "Add api for disconnecting peer"
Add api for disconnecting peer

[2019-09-03 01:26] saubyk opened #11 "Enrich the API response for listpeers"
Add Alias in the API response.
Identify Inbound/Outbound peers

[2019-09-03 01:30] saubyk opened #12 "Enhance OpenChannel API"
- Fee rate and Min conf options
- private flag

[2019-09-03 01:33] saubyk opened #13 "Enhance geninvoice API"
Add option for private channels.

[2019-09-04 00:08] saubyk commented on #10
API added

[2019-09-04 00:08] #10 closed

[2019-09-04 23:47] saubyk commented on #13
This is done.

[2019-09-04 23:47] #13 closed

[2019-09-04 23:51] saubyk opened #14 "Connectivity check upon API server initialization"
- Call `getinfo` api, upon server start
- Fail server initialization if `getinfo` fails

[2019-09-07 17:24] saubyk commented on #11
This is done.

[2019-09-07 17:24] #11 closed

[2019-09-07 21:32] saubyk commented on #9
Done.

[2019-09-07 21:32] #9 closed

[2019-09-07 23:05] saubyk commented on #12
Done.

[2019-09-07 23:05] #12 closed

[2019-09-12 00:05] saubyk commented on #7
Config options added for:
PORT and PROTOCOL

[2019-09-12 00:05] #7 closed

[2019-09-12 01:02] saubyk commented on #14
Done

[2019-09-12 01:02] #14 closed

[2019-09-21 21:32] saubyk opened #17 "Fix the failing tests"

[2019-09-23 17:26] saubyk opened #18 "Listpayments command changed"
`listpayments` command has been moved from plugin to core and changed to `listsendpays`.

[2019-09-23 22:55] saubyk commented on #17
Basic tests fixed.

[2019-09-23 22:55] #17 closed

[2019-09-28 20:01] LightningK0ala opened #20 "Listening for paid invoices"
Great work on the library! Are there plans to including a websocket to subscribe to invoices that are paid?

[2019-09-28 22:10] saubyk commented on #20
Thanks @LightningK0ala
No plan yet. Will explore this requirement more.

[2019-10-02 17:46] wanxewoj opened #22 "crash when run as plugin"
When I run this via `Option 1: Run as c-lightning plugin` all looks fine at first in the `.lightning/debug.log`:

[code]

However the the api server is not running and I'll see:
[code]

Which means it crashed for some reason. But there's no more info in the `.lightning/debug.log`. Is there any way to debug c-lightning plugins? Or is there a way I can write the whole STDOUT to a file when it is run

[2019-10-02 23:23] saubyk commented on #22
Hi @wanxewoj
Did your `npm install` ran without any issue?

[2019-10-03 09:43] wanxewoj commented on #22
Yes. No issues.

And as I wrote, `Option 2: Run as an API server` runs without issues. Only when run as a plugin it crashes. I'm using `c-lightinging` master branch.

[2019-10-12 19:11] darosior commented on #18
And as of the next release (already in rc, so it's a matter of days) it will be completely removed. Just `s/listpayments/listsendpays/g` will fix compat.

[2019-10-12 19:12] darosior commented on #20
@saubyk FWIW now that you support plugin mode you can listen to notifications such as `invoice_payment` ;-) https://lightning.readthedocs.io/PLUGINS.html#invoice-payment

[2019-10-13 15:39] darosior commented on #22
FWIW the master had a bug with dynamic plugin until lately.

@wanxewoj I updated [clightningjs](https://github.com/darosior/clightningjs), can you try with the latest release ? If you experience a crash again could you give me c-lightning logs ?

[2019-10-13 15:59] saubyk commented on #22
@darosior thanks for looking into this. I meant to tag you here. :-)

[2019-10-27 16:02] saubyk opened #23 "Integrate Swagger documentation"
Serve API documentation locally with Swagger or some other tool, to simplify documentation support for the APIs

[2019-11-02 23:33] saubyk commented on #18
API updated post release 0.7.3.

[2019-11-02 23:33] #18 closed

[2019-11-02 23:39] saubyk commented on #22
@wanxewoj please pull the latest cl-rest version (0.0.4) and run it along with c-lightning v0.7.3

You issue should be addressed.

[2019-11-02 23:39] #22 closed

[2019-11-26 02:29] jamaljsr opened #24 "Include channel initiator in listChannels"
I'm running a regtest network with two c-lightning nodes and one channel between the two. When I query `channel/listChannels`, on both nodes I am provided the same channel which is expected. However, I am unable to determine which node opened this channel based on the data returned.

alice
[code]

bob
[code]

Does c-lightning provide info about which node initiated the channel opening that could t

[2019-11-26 23:33] saubyk commented on #24
Hi @jamaljsr
There is a `direction` flag in the listpeers output, which we can use. Although, I am not entirely convinced if that flag correctly reflects which peer opened the channel.

I tried testing with my node, where I opened a channel from the node and opened another channel to the node, in both the cases it set flag to 1.

This might be the relevant code where this flag is being set in c-li

[2019-11-26 23:44] jamaljsr commented on #24
Haha, I was working on a PR while you responded.

Yes, you are correct. I forked the repo and added the `initiator` field based on the `peer.channels[0].direction` flag. I tested it with a local regtest network and can confirm it works as expected. It's `true` when the c-lightning node opened the channel and `false` otherwise. I even tested with a mix of c-lightning/LND nodes.

Thanks for the repl

[2019-11-27 00:21] #24 closed

[2019-11-27 00:27] saubyk commented on #24
@jamaljsr merged your PR, with a few tweaks. It should work per your expectation.

Thanks :-) 👍

[2019-12-06 02:40] saubyk commented on #23
Closed with release v0.1.0

[2019-12-06 02:40] #23 closed

[2020-01-20 07:32] Kukks commented on #20
This could help: https://github.com/btcpayserver/BTCPayServer.Lightning/blob/dee2f2809d31ec7681b0b97b96fb7a610993b18e/src/BTCPayServer.Lightning.CLightning/CLightningClient.cs#L418

[2020-01-30 04:25] jamaljsr opened #32 "listChannels doesn't return an open channel in some cases"
The `listChannels` endpoint currently will always return the first channel per peer. This works well most of the time, except if I open a channel with a peer, then close that channel, then open a new channel with that same peer within 100 blocks. In this case, the `listChannels` endpoint will return the closed channel instead of the open channel. As a consumer of the API, I am typically more inter

[2020-02-01 23:10] #32 closed

[2020-03-19 17:06] rsbondi commented on #20
You could just run [this](https://github.com/rbndg/c-lightning-events) plugin, there would really be no benefit to including here unless for some reason you are running as a service and can not use plugins?  Of course the plugin is newer than the last comment in this thread so maybe it could be the solution.

[2020-03-25 10:15] darosior opened #35 "C-lightning deprecations"
Hi,

For your interest https://github.com/ElementsProject/lightning/pull/3603 removes some fields in the API which have been deprecated for several (6 iirc) months.

Namely:
- The `description` field in `sendpay`.
- The `satoshi` field in `fundchannel_start` (now `amount`). Note also this commit https://github.com/ElementsProject/lightning/pull/3603/commits/49e21538cc99e8f7340d174f02b853cc582dfd2a

[2020-03-25 23:00] saubyk commented on #35
@darosior thanks for letting me know.

[2020-03-26 22:25] rustyrussell commented on #35
Note: you should always test with "enable-deprecated-apis=false" (but ship without that!) so you'll find things when we deprecate it, not 6 months later when we remove it!

[2020-03-30 17:45] kirelagin opened #36 "Give examples of using RPCCOMMANDS"
The readme says:

so it seems to be a list. But I am having hard time figuring out what format to use in clightning config or on the command line.

[2020-03-30 20:37] kirelagin commented on #36
Ah, ok, I found it in the readme. It says that it is just a comma-separated list. Sorry for the noise.

[2020-03-30 20:37] #36 closed

[2020-03-31 01:39] saubyk commented on #35
@jamaljsr @kaloudis @ShahanaFarooqui
Please note the deprecations above. These fields will be removed from c-lightning v0.8.2.
Please plan to remove these fields from your respective UIs if you are using them.

[2020-03-31 02:18] jamaljsr commented on #35
@saubyk thanks for the heads up 👍

[2020-04-12 09:41] Kukks commented on #20
We run C-lightning-rest as a standalone service in its own docker container so we cannot have a plugin

[2020-05-28 23:36] saubyk opened #39 "Simplified On-Chain transactions view"
The current `listtransactions` command output lists the on-chain Bitcoin transactions on the node. This output can be simplified for better consumption by the UI applications. Similar to the way on-chain transactions are listed by LND.

The simplified view should list the below fields in the output for each transaction:
1. Block Hash on which the transaction is included
2. Transaction Hash
3. Date

[2020-06-19 22:44] billygarrison opened #42 "Error when trying to build/run c-lightning-REST API server"
**Steps to install**
[code]

**Produces the following output**
[code]

**I then run `node cl-rest.js` and get**
[code]

[2020-06-20 15:36] saubyk commented on #42
Hey @billygarrison can you please try once after running `npm install` instead. Thanks

[2020-06-20 16:25] billygarrison commented on #42
I did try that as well.

On Sat, Jun 20, 2020, 12:37 PM Suheb, <notifications@github.com> wrote:

[2020-06-20 20:11] ShahanaFarooqui commented on #42
@billygarrison looks like your npm registry has been corrupted for some reason. Please try following steps:

1) Go to your root directory ‘c-lightning-REST’
2) Delete ‘node_modules’ folder.
3) Delete package-lock.json (Optional step).
4) Run ‘npm cache verify’.
5) Run ‘npm install --only=prod’.

[2020-06-21 02:53] billygarrison commented on #42
I still end up with the same error after that.

On Sat, Jun 20, 2020 at 5:11 PM ShahanaFarooqui <notifications@github.com>
wrote:

[2020-07-26 22:29] saubyk opened #43 "Fetch Node alias for the channels in the forwarding history"
Aliases for channels makes for easy understanding of the routing traffic in the UI.
Fetch alias for each channel in the forwarding history records.

[2020-08-02 14:33] saubyk commented on #39
Closing this issue, as its being addressed at C-Lightning level.

[2020-08-02 14:33] #39 closed

[2020-08-02 14:33] saubyk commented on #43
Closing this as this is being addressed at RTL level.

[2020-08-02 14:33] #43 closed

[2020-08-16 01:48] saubyk commented on #42
Hi @billygarrison assuming this is not an issue anymore, hence closing the ticket.
If it still an issue, feel free to reopen and we can troubleshoot.

Thanks

[2020-08-16 01:51] saubyk opened #47 "Pull payment description in `listpayments` response"
Fetch the payment description from the `decodeinvoice` command to include in the response for `listpayments`

[2020-08-17 01:44] Fonta1n3 opened #48 "Does this expose lightning-cli in its entirety?"
Just wondering if this only exposes limited functionality or if it exposes the entire suite of rpc commands? TIA.

[2020-08-17 02:36] saubyk commented on #48
Hi @Fonta1n3 the current command coverage is documented [here](https://github.com/Ride-The-Lightning/c-lightning-REST/blob/master/docs/CLTCommandCoverage.md)

The functionality currently exposed is limited, primarily driven by the needs of RTL, Zeus or Polar projects. If you need more commands covered, I can definitely add or except a PR for the same. :-)
The API exposed are documented [here](http

[2020-08-18 14:22] Fonta1n3 commented on #48
@saubyk Thanks for the prompt response! I am in very active development right now so don’t have a complete set of commands yet. Will get back to you when i do 👍

[2020-08-19 00:25] saubyk commented on #48
No worry, feel free to open an issue if you need APIs for any command, which is not covered yet.

[2020-08-19 00:25] #48 closed

[2020-08-25 23:24] saubyk commented on #35
Closing this ticket. As deprecations are addressed.

[2020-08-25 23:24] #35 closed

[2020-08-29 02:32] saubyk opened #49 "API server crash after running Rebalance.py plugin"
Below tickets cover the issue details:
https://github.com/lightningd/plugins/issues/134
https://github.com/Ride-The-Lightning/RTL/issues/439

[2020-08-30 16:12] saubyk commented on #49
@BTCBellyButton
Trying to replicate this issue locally. Can you please link the rebalancing library that you are running with C-Lightning-REST? I couldn't find it on my own.

[2020-08-30 18:54] BTCBellyButton commented on #49
Sure.
Here it is:  https://github.com/lightningd/plugins/tree/master/rebalance

[2020-09-13 03:14] dscotese opened #51 "Add and use rest-cert-cn to the config."
If I understand the security of using https instead of http, I think allowing the user to tell CLRest what the CN property of the self-signed certificate is makes sense.  Currently, it defaults to "localhost" and the instance of Zeus LN on my mobile gets an error that the IP address of my node is not the CN of the certificate:
[code]
Am I interpreting this error correctly?

Is it possible for the

[2020-10-25 21:00] billygarrison commented on #42
Hi @saubyk, I don't have the option to reopen the issue.

I tried again and can successfully run `npm install`, but still get the second error when running `node cl-rest.js`:

[code]

[2020-10-25 21:43] ShahanaFarooqui commented on #42
@billygarrison
What are your NodeJS and npm versions?
Are you running this in an independent environment? This error is not related to the project. The “macaroon” library uses textencoder and node is unable to find it. Either it can be due to a very old version of NodeJS or it is reintegrated with other environments where NodeJS is not recognizable.

[2020-10-26 20:06] billygarrison commented on #42
Node version was the issue, was on an old one. Thanks @ShahanaFarooqui !

[2020-10-26 20:06] #42 closed

[2020-12-20 18:00] billygarrison opened #53 "Open channel: Include sat/vbyte fee estimate with Slow/Normal/Urgent options"
It would be nice if beside "Slow" it included the fee that would be used. For example, if the mempool is full and "Slow" means 50 sats/vbyte then I would likely wait to open the channel.

![image](https://user-images.githubusercontent.com/30005204/102720553-70037080-42cb-11eb-938b-2607b8fb662c.png)

[2020-12-23 03:23] saubyk commented on #53
Hi @billygarrison, will handle this in RTL instead.

[2020-12-23 04:41] billygarrison commented on #53
Hmm sorry @saubyk ... I thought I was in the RTL repo !

[2021-01-03 19:52] RobvanB opened #54 "Error "Cannot find module 'express'" when starting server."
Just installed Release v0.4.3-beta-maintenance on Linux (Ubuntu 20.04)
Followed the instructions, but when I try to start the server with "$ node cl-rest.js", I get this error:

nternal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'express'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs

[2021-01-03 19:57] ShahanaFarooqui commented on #54
Were you able to successfully install all the dependencies? Above error is usually thrown when all the dependencies are not installed successfully. Can you also please share your NodeJS and npm versions

[2021-01-03 19:58] RobvanB commented on #54
Wow you are fast :)  - I should have done a search before I posted, I had to run 'npm install express' and that fixed it.
Not sure if I missed a step from the documentation or if this needs to be added to the documentation, but after I installed it I could run the server.

[2021-01-03 20:12] ShahanaFarooqui commented on #54
Your NodeJS and npm both are good. You might have missed ‘npm install’ step. That should also install ‘express’ for the project, no need to install it separately.

[2021-01-03 20:13] #54 closed

[2021-03-02 02:37] bolatovumar opened #55 "Private channel can't be opened"
See this line:
https://github.com/Ride-The-Lightning/c-lightning-REST/blob/22bb6c34960d09b8ec3c834a606b863446a3ef4f/controllers/channel.js#L77

It double-bangs the input for the `announce` field which controls if a private channel should be opened. Since it double-bangs inputs for `'0'` and `'false'` the resulting boolean will always be equal tor `true` so the channel will always be public.

[2021-03-07 16:27] #55 closed

[2021-03-07 16:31] saubyk commented on #55
@bolatovumar should be good now. Thanks for the pointing it out and the PR.

[2021-05-18 16:08] openoms opened #60 "[Feature request] option to specify the `.lightning` path"
Currently it is assumed that c-lightning-REST is run by the same user as the lightningd.

For the user `bitcoin` it looks for the `lightning-rpc` in
`/home/bitcoin/.lightning/lightning-rpc`
which is normally non-existent.

In case lightning is run with multiple networks on the node
can symlink to
`/home/bitcoin/.lightning/lightning-rpc`
 from the chosen network directory e.g:
`sudo ln -s /home/bit

[2021-06-15 22:57] dscotese opened #61 "Allow fine-tuning of feerate for fundchannel"
This is a feature request, that the REST interface accept value for feerate that are composed of digits, possibly followed by "perk" and then a w or a b, as a passthrough to fundchannel as described at https://lightning.readthedocs.io/lightning-fundchannel.7.html.

If feerate is set to something other than `urgent`, `normal`, `slow`, or [digits followed by `perkw` or `perkb`], then it should retur

[2021-07-13 20:54] crabel99 commented on #60
I run `lightningd` through `systemd` and my path to the socket is in the runtime directory `/run/lightningd/lightning-rpc` Not being able to specify that in either the `lightning.conf` with a `rest-rpc-path=PATH` or in `cl-rest-config.json` with `RPCPATH`makes it very difficult to get the REST endpoint up and running.

Current working workaround is to use `systemd` as the `lightning-rpc` socket is

[2021-07-14 01:28] crabel99 opened #62 "Security Concern"
The API opens access to `lightning-rpc` allowing uncredentialed access on the local machine into those ports. If a user were to become compromised an attacker would have direct access into `lightning-rpc`. Would be better if we could control access to the REST API uri's, either through a permissioned unix domain socket or through token authentication over https.

[2021-07-14 01:29] #62 closed

[2021-07-14 01:32] saubyk commented on #62
The access to the Apis is not uncredentialed. An `access.macaroon` token is generated when the server is initiated. That token has to be passed to the APIs to enable access.

[2021-07-14 01:37] saubyk commented on #61
The openChannel API has support to pass fine tuned fee rate. Instead of passing `urgent`, `normal` or `slow` you can for instance pass `1000perkb` in the `feerate` parameter.

If you're looking for support for the same in the RTL UI, that will be enabled in the next release.
The issue is being tracked below:
https://github.com/Ride-The-Lightning/RTL/issues/676

[2021-07-14 01:37] #61 closed

[2021-07-14 01:41] crabel99 commented on #62
It took me a bit, found it in the documentation... sorry about the false alarm.

[2021-07-27 10:36] TheeHandwoven opened #63 "Reduce INFO level logging"
Most of the logging done by the plugin would in my opinion qualify as debug information, and it feels like it is spamming the c-lightning output.

Specifically all the information about successful retrieval of information I don't find very relevant unless I am debugging.

Can you please change the log level of such information to DEBUG?

[2021-07-27 12:06] saubyk commented on #53
This requirement will be addressed in the next RTL release v0.11.1.

[2021-07-27 12:06] #53 closed

[2021-07-27 21:50] ShahanaFarooqui opened #64 "Add pagination on listForwards API"
Please add pagination for listForwards API, so that applications can limit the number of records per request.

Reference Issue:
https://github.com/Ride-The-Lightning/RTL/issues/737

[2021-08-01 01:42] saubyk opened #65 "Add support for decode function"
Decode function is general purpose decoding utility which can help decode offers, bolt11 and bolt12 invoices.

[2021-08-01 01:44] saubyk opened #66 "Add support for Offers"
Four main functions need to be supported for enabling support for Offers on C-Lightning-REST
- offer
- fetchinvoice
- listoffers
- disableoffer

Note offers is currently an experimental addition to C-Lightning. The command suite for offers can be enabled on C-Lighning by adding a `experimental-offers` in the config file.

For more information on Offers, refer to http://bolt12.org

[2021-08-04 01:58] saubyk commented on #65
Merged to the release branch.

[2021-08-04 01:58] #65 closed

[2021-08-24 01:06] saubyk commented on #66
Offers support merged into the release branch.

[2021-08-24 01:06] #66 closed

[2021-08-24 01:15] saubyk opened #71 "Add support for waitInvoice"
Need support for waitinvoice to improve the UX of invoice generation and payment in the applications.

[2021-08-29 02:38] saubyk commented on #63
merged to release branch

[2021-08-29 02:38] #63 closed

[2021-08-29 17:18] saubyk commented on #60
@openoms and @crabel99

Configuration for `lightning-rpc` location was already configurable via an environment variable `LN_PATH`.
With the linked PR, we are making it easier to configure by adding an additional config parameter `LNRPCPATH`.

[2021-08-29 17:19] saubyk commented on #60
Merged to the release branch for v0.5.0

[2021-08-29 17:19] #60 closed

[2021-08-30 00:22] LightningHelper opened #78 "new version does not start"
I'm running `node cl-rest.js`
and I get this:
[code]

[2021-08-30 01:38] saubyk commented on #78
Hi @LightningHelper
Thanks for raising this. Missed a scenario for the new config variable. Providing a fix right away.

[2021-08-30 01:43] saubyk commented on #78
Commit for the fix:
https://github.com/Ride-The-Lightning/c-lightning-REST/commit/6c4cf1ddb53aed2cbdae955a2992042f618354f9

[2021-08-30 01:43] #78 closed

[2021-08-30 09:58] aquiporras opened #79 "/v1/rpc endpoint not passing method and params to the rpc call"
According to the documentation the rpc endpoint can be used with the following body:

[code]

I have added the following log in the line 128 (in lightning-client-js.js )

[code]

And this is the result in the logs

[code]

Of course, later lightningd fails with "no method" error.

PS: Added more logs to rpc.js and saw that the `req.body` object contains the method property... but then `req.body.me

[2021-08-30 11:54] aquiporras commented on #79
Ok, it has been days with this... the issue is that I was not passing the request header content-type. If the header is required, or JSON format is required, the it would be nice to return a 415 instead of a 500 error.

Will close this issue and open a new one with proper description

[2021-08-30 11:54] #79 closed

[2021-08-30 11:59] aquiporras opened #80 "500 error when not specifying JSON content type header"
See https://github.com/Ride-The-Lightning/c-lightning-REST/issues/79 for more context.

When the content type header is not present in the request specifying it is JSON, the body is not properly parsed and it will fail with different errors depending on the endpoint called.

Usually with a 500 error thrown by lightning internally, which is really misleading.

Being a rest client would be nice to d

[2021-08-31 14:06] aquiporras opened #81 "Wrong swagger docs for /genInvoice"
[code]

Expiry and private parameters are supposed to be in the query string, but they are actually read from the body.

[2021-09-24 12:05] saubyk commented on #81
Fixed in master. Will be released with version 0.5.2

[2021-09-24 12:05] #81 closed

[2021-11-08 22:06] erikarvstedt opened #84 "Request: Allow specifying server listen address"
Currently, the server always listens on all interfaces.

[2021-12-01 16:53] willcl-ark commented on #51
This patch adds `DOMAIN` to the config, which allows you to specify a domain to the certificate in the `subjectAltNames`

[code]

[2021-12-02 22:52] dscotese commented on #51
I like the idea, and I don't understand enough to predict whether or not it solves the problem I encountered.  Your patch would need an update to the documentation (or, even better, the process of connecting Zeus to a node) to indicate that the user might need to add "DOMAIN" to the config (I don't remember doing it) in order to use the self-signed certificate in situations like mine.

[2021-12-02 22:59] willcl-ark commented on #51
@dscotese I added as a PR (includes doc and sample config) here so some regular contributors can take a look, but it works for me(TM), solving the same issue as you with Zeus (although Zeus did require a bit of removing server, force closing and adding as a new server to work)  https://github.com/Ride-The-Lightning/c-lightning-REST/pull/87

Now that you mention it though, I think for users _upgrad

[2021-12-09 17:41] saubyk opened #88 "[Feature Request] - Add API support for datastore capability"
Add API support for datastore APIs, which can be used by plugins to persist data on the node database.
This feature is available from version 0.10.2 onwards.

Three APIs can be added to support the feature:
1. datastore: POST API to add a key value pair to the database
2. listdatastore: GET API to list all or specific key value pair from the database
3. deldatastore: DEL API to delete specific key

[2021-12-13 08:17] rbckman opened #89 "plugin dies in c-lightning if failed payment"
c-lightning-REST dies if payment fails

UNUSUAL plugin-plugin.js: Killing plugin: Failed to parse JSON response 'SyntaxError: Unexpected token { in JSON at position 888?    at JSON.parse (<anonymous>)?    at Plugin._mainLoop (/home/madbaker/c-lightning-REST/node_modules/clightningjs/src/plugin.js:164:20)?    at Socket.<anonymous> (/home/madbaker/c-lightning-REST/node_modules/clightningjs/src/plugi

[2021-12-22 17:40] tukac opened #90 "Bug after upgarding to 0.6.0. from 0.4.2 on c-lightning, message "Authentication Failed!""
I upgraded REST from 0.4.2 to 0.6.0, everything else stayed the same:

- RTL 0.11.2
- c-lightning 0.10.2

In web interface I got message "Authentication Failed!". Terminal showed error:

`ERROR: GetInfo => Get Info Error: {"name":"StatusCodeError","statusCode":401,"message":"401 - {\"message\":\"Authentication Failed!\",\"error\":\"Bad Macaroon!\"}","error":{"message":"Authentication Failed!","err

[2021-12-22 17:50] tukac commented on #90
I am closing this. A weird bug, maybe this helps someone.

[2021-12-22 17:50] #90 closed

[2022-03-17 23:24] saubyk opened #94 "API for the funderupdate command"
`funderupdate` is required to support the nodes intending to publish liquidity ads
This should be a POST API call, with the following options:
- policy
- policy_mod
- leases_only
- min_their_funding_msat
- max_their_funding_msat
- per_channel_min_msat
- per_channel_max_msat
- reserve_tank_msat
- fuzz_percent
- fund_probability
- lease_fee_base_msat
- lease_fee_basis
- funding_weight
- channel_fee_

[2022-03-18 00:00] saubyk opened #95 "Update openChannel API to include lease option"
openChannel API need additional parameters to enable the user to open channel in response to a liquidity add.
Optional params to be added:
-  `compact_lease`
- `request_amt`

[2022-03-20 14:12] saubyk opened #97 "Listnodes API for listing network nodes"
This API would enable to return the information on all the nodes from the graph, including the information about liquidity ads.
The command to be invoked is `listnodes`, with an optional param to specify a particular node ID

[2022-03-20 21:49] saubyk commented on #51
Merged into the release branch.

[2022-03-20 21:49] #51 closed

[2022-03-24 23:51] saubyk commented on #80
@aquiporras this will be a significant change, as each controller would need to updated to return contextual error.

I will keep this issue open, but will be able to address it over a period of time gradually. Meanwhile, PRs are welcome. :smile

[2022-03-26 08:42] waffi121 opened #101 "Killing plugin - Failed to parse"
C-Lightning Version: v0.10.2
c-lighting-REST: v0.6.1
RTL:  v0.12.2

`2022-03-26T05:06:05.393Z UNUSUAL plugin-plugin.js: Killing plugin: Failed to parse JSON response 'SyntaxError: Unexpected token { in JSON at position 126?    at JSON.parse (<anonymous>)?    at Plugin._mainLoop (/home/btc/c-lightning-REST-0.6.1/node_modules/clightningjs/src/plugin.js:164:20)?    at Socket.<anonymous> (/home/btc/c-

[2022-03-26 20:13] saubyk commented on #101
Hi @waffi121 can you please provide more detail on the scenario where you getting this error?

[2022-03-26 20:13] saubyk commented on #101
Hi @waffi121 can you please provide more detail on the scenario where you getting this error?

[2022-03-26 21:32] saubyk commented on #88
merged to release branch

[2022-03-26 21:32] #88 closed

[2022-03-26 21:32] saubyk commented on #94
merged to release branch

[2022-03-26 21:32] #94 closed

[2022-03-26 21:32] saubyk commented on #95
merged to release branch

[2022-03-26 21:32] #95 closed

[2022-03-26 21:32] saubyk commented on #97
merged to release branch

[2022-03-26 21:32] #97 closed

[2022-03-26 22:10] saubyk commented on #89
Hi @rbckman can you please verify if this is still an issue with the latest release of c-lightning? thanks.

[2022-03-28 16:41] waffi121 commented on #101
unfortunately, I cannot reproduce it exactly.

Yesterday restarted everything, RTL never opened -> no errorr
Today RTL opened and again the same error.

helps the log from rtl?

`ERROR: GetInfo => Get Info Error: {"name":"RequestError","message":"Error: connect ECONNREFUSED 127.0.0.1:3001","cause":{"errno":-111,"code":"ECONNREFUSED","syscall":"connect","address":"127.0.0.1","port":3001},"error":{"

[2022-04-01 12:08] dni opened #105 "dies when querying a route with wrong parameters"
i connected to ride the lightning and tried to query a route in the graph lookup and put the node uri instead of the node pubkey, and the client died.

[code]

[2022-04-20 23:40] kristapsk opened #106 "found 2 moderate severity vulnerabilities: validator"
When doing `npm install`, got:
[code]
[code]
`npm audit fix` updates `package-json.lock`. Likely it fixed this, but I'm not an expert with `npm`, so will not send a PR, somebody probably should look at this.

[2022-04-21 01:44] ShahanaFarooqui commented on #106
@kristapsk thank you for raising the issue. We audit the project dependencies before every release and fix them as much as possible.

We also do not recommend our users to ‘audit fix’ as it sometimes breaks the code.

These will be fixed with the next release as per the process, so closing the issue now.

[2022-04-21 01:44] #106 closed

[2022-04-23 14:34] dzdidi commented on #101
Having the same issue, whic appears to be caused by plugin crash for the reason described here https://github.com/Ride-The-Lightning/c-lightning-REST/issues/89
I am trying to reproduce it and will post updates here.
Some additional info, there is also clboss plugin, so far my theory is that it is clboss which causes cl to reply with data which breaks clREST

[2022-04-23 17:03] dzdidi commented on #101
here is the log input for message which caused crash:
[code]
So clightning gives two messages in a single chunk  which makes cl-rest err on json parse. It seemed to be fixed in the dependency so we just need to update it https://github.com/lightningd/clightningjs/blob/master/src/plugin.js#L178

[2022-04-28 00:55] BTCBellyButton commented on #101
Similar issue here.
Bitcoin:23.0
CLN version: 0.11.0.1
c-lighting-REST: v0.7.0

![Screenshot from 2022-04-27 19-44-08](https://user-images.githubusercontent.com/68573637/165654077-8f7ca05b-6048-463d-88b5-3f148b2d809a.png)

C-Lightning log:

[2022-04-28 12:18] dzdidi commented on #101
@BTCBellyButton this should be resolved in 0.7.1 (not yet release, as far as I know)

[2022-05-01 16:35] busch opened #108 "GET /v1/invoice/waitInvoice fails with 404"
Method waitInvoice should be available since version 0.5.0 (https://github.com/Ride-The-Lightning/c-lightning-REST/commit/243494f4e75d9098e8b36c5fa4a9d5a545130654), and it is documented in the swagger UI, but returns 404 in version v0.7.0-beta:

[code]

cl-rest-config.json should allow all RPC commands:
[code]

[2022-05-01 17:29] ShahanaFarooqui commented on #108
@busch As documented in Swagger UI also, waitInvoice accepts label information through the route param not through query. Please send the GET request as `/v1/invoice/waitInvoice/ulbl***REDACTED***`.

Closing the issue after testing both scenarios on my local machine. Please feel free to comment if it still doesn't work for you.

[2022-05-01 17:29] #108 closed

[2022-05-06 01:59] saubyk commented on #105
Hi @dni thanks for reporting the issue.
Fix merged into the release branch. Will be available with release v0.7.1.

[2022-05-06 01:59] #105 closed

[2022-05-07 00:00] saubyk opened #111 "Listconfigs API"
Listconfigs API under the general info category to provide information related all the configurations and plugins active on the node.

`GET`: `/v1/utility/listConfigs`
Command to be invoked: `listconfigs`

[2022-05-07 00:46] saubyk commented on #111
Merged to release branch

[2022-05-07 00:46] #111 closed

[2022-05-07 00:46] saubyk commented on #101
merged to release branch

[2022-05-07 00:46] #101 closed

[2022-05-07 00:47] saubyk commented on #89
pr merged into the release branch

[2022-05-07 00:47] #89 closed

[2022-05-08 16:52] devastgh opened #114 "0.7.1 fails to start"
I'm using c-lightning-REST as a plugin, and since i did not want to restart my node, i simply stopped the 0.7.0 plugin, and started the 0.7.1. However 0.7.1 fails to start, the error message is the following:

 lightning-cli plugin start /home/lightning/.lightning/plugin/c-lightning-REST/plugin.js
{
   "code": -3,
   "message": "/home/lightning/.lightning/plugin/c-lightning-REST/plugin.js: Unknown

[2022-05-09 14:15] blckbx commented on #114
Can confirm this. Running plugin.js as a plugin through CLN's config throws said error:
[code]
Spinning it up separately via `node cl-rest.js` works fine.

[2022-05-09 14:20] saubyk commented on #114
Hi @devastgh have you run `npm install --only=prod` before starting the server?

[2022-05-09 14:24] saubyk commented on #114
I am able to replicate this as well. Will look into it urgently and issue a hotfix. Thanks

[2022-05-09 14:39] devastgh commented on #114
Yes, i did. It might have to do with my nodejs, as it's installed on ubuntu as a snap ( classic snap, so not restricted).

[2022-05-09 22:22] saubyk commented on #114
fixed with https://github.com/Ride-The-Lightning/c-lightning-REST/commit/7b9b7d4b841863876aa9c112318d04e7aa06ee90

Tagging a new release version.

[2022-05-09 22:22] #114 closed

[2022-05-19 20:05] sethforprivacy opened #116 "Could not run as a plugin, but works perfectly as a standalone service"
Hi there, just finished building out a Core LN + c-lightning-REST + RTL setup, and ran into this error when trying to use c-lightning-REST as a plugin for lightningd:

`plugin-plugin.js: Killing plugin: exited before replying to getmanifest`

The plugin works perfectly when run as it's own service ([systemd script here](https://paste.sethforprivacy.com/?4d1e35885e2ee9ef#7zciFnVY3Xn3XeRQtEL5tJzSSR7

[2022-05-20 15:53] saubyk commented on #116
Hi @sethforprivacy is it possible for you to share your core lightning config settings? It should be in the `.lightning` folder.

[2022-05-20 16:04] sethforprivacy commented on #116
Here it is:

https://paste.sethforprivacy.com/?3e2080ae7cbf5ad0#BMcHpNDXn4rtv8SjQ8sd2HNTxxjMbqkYyLisHGdYgEU

When I was trying c-lightning-rest as a plugin I called it via full-path, i.e.:

`important-plugin=/home/lightningd/c-lightning-REST-0.7.2/cl-rest.js`

My best guess would be it being related to lightningd not properly recognizing the location of the `node` binary, but nothing I could find

[2022-05-20 22:06] ShahanaFarooqui opened #117 "Updated GET API channel/listForwardsFilter for pagination"
- Add status filter
- Add TotalForwards
- Either sort by `received_time` or add sort in query too
- Cache listforwards data for 15 minutes after pulling the list

[2022-05-20 22:08] saubyk commented on #116
what all do you have in the `lightningd` folder?
The only difference that I could find in my settings is that I am keeping the c-lightning-REST folder separate from all of core lightning's and plugin folders.

Keep in mind that C-Lightning-REST is not an "official" plugin, so not sure if there is manifest where it needs to be registered. But that's not required for it to *run as a plugin*.

May be

[2022-05-21 09:33] devastgh commented on #116
Adding my 2c, maybe it helps:
C-ln tries to load *every* executable it finds in ~/.lightning/plugins/* .
So having `plugin-plugin.js: Killing plugin: exited before replying to getmanifest` is expected, if you have any executable in that path, that is not a c-ln plugin. I *think* loading the plugin might fail, cause it's not an executable.
Could you check what permissions you have on plugin.js ? If

[2022-05-21 19:48] litch commented on #116
I just got bit by the same exact issue - where the plugin config in the `.lightning/config` seems incorrect.

[code]

[2022-05-22 13:55] saubyk commented on #116
Hi @litch can you share your config file settings?

[2022-05-22 15:21] litch commented on #116
The config file sections were exactly as in the readme:

[code]

Similarly to @sethforprivacy - it works swimmingly if I run it otherwise.

[2022-05-23 12:26] sethforprivacy commented on #116
@saubyk - I don't have any plugins in there, just this structure:

[code]

I was loading the c-lightning-REST plugin from a directory in /home/lightningd (where it's running from now as a standalone app without issues under the same user as lightningd).

@devastgh - plugin.js is properly permissioned for the user, and has the execute bit set:

[code]

Happy to help however I can!

[2022-05-24 19:51] ShahanaFarooqui commented on #117
The updates are merged in the Release 0.7.3 branch with commit c1821391d327243e563c711566fb5733af2028b1.

- Added status filter
- Added TotalForwards
- Added sortBy & sortDirection
- Caching 'local' & 'local_failed' filtered forwards for 10 minutes.

[2022-05-24 19:51] #117 closed

[2022-05-25 01:45] KayBeSee opened #119 "Docker examples or documentation"
Are there any examples of how to run this as a docker container?

I am using the following docker-compose.yml file but keep getting an error about a connection to `/root/.lightning` being refused.

[code]

Errors:

[code]

Any ideas of what settings to use here to get c-lightning-REST talking with c-lightning?

[2022-05-29 23:48] saubyk commented on #119
Hi @KayBeSee is your core lightning also running on docker?
C-Lightning-REST needs to access the `lightning-rpc` to be able to talk to core lightning. From the log above it's trying to find it at `/root/.lightning` and not able to access it.

[2022-05-30 00:05] saubyk commented on #119
Here's a recommended yml, which you can try. I added a link to the `lightning` service in the `rest` fragment
[code]

[2022-05-30 00:06] saubyk commented on #119
You can also refer to BTCPayserver yml file, where Cl-rest is configured:
https://github.com/btcpayserver/btcpayserver-docker/blob/a0548fb688fcdaed7d8c80e08b94a87b773ebce5/docker-compose-generator/docker-fragments/bitcoin-clightning.yml

Thanks

[2022-05-31 19:46] amicwall opened #120 "gpg verify"
gpg --verify v0.7.2.tar.gz.asc v0.7.2.tar.gz
gpg: Signature made Mon 09 May 2022 03:37:59 PM PDT
gpg:                using RSA key 3E9BD4436C288039CA827A9200C9E2BC2E45666F
gpg: Can't check signature: No public key

where to get the public key ?

[2022-05-31 22:26] saubyk commented on #120
Hi @amicwall you get the PGP Key at: https://keybase.io/suheb

[2022-05-31 22:27] saubyk commented on #120
Here's a command you can use to download and import the pub key:
`curl https://keybase.io/suheb/pgp_keys.asc | gpg --import`

[2022-06-28 20:37] ShahanaFarooqui opened #127 "Add subscription to `waitblockheight`, `waitinvoice` and `waitsendpay` RPC commands"
Add subscription to `waitblockheight`, `waitinvoice`, `waitanyinvoice` and `waitsendpay` RPC commands.

Reference PR: https://github.com/Ride-The-Lightning/c-lightning-REST/pull/85

[2022-07-14 19:35] Evanfeenstra commented on #119
Ya I am having no luck with this either...

docker-compose.yaml:
[code]

bitcoin.conf:
[code]

lightning config:
[code]

Anyone see anything wrong with this setup?

[2022-08-08 00:38] saubyk commented on #127
Closed with release v0.7.3

[2022-08-08 00:38] #127 closed

[2022-08-13 00:33] lightningorb opened #131 "SSH connection issue hostname doesn't match hostname"
This is a totally strange one.

~/.lightning/config

[code]

Then after starting lightningd, the contents of certs/certificate.pem and certs/access.macaroon are provided to the requests library. It works with [workbench](https://github.com/cmdruid/regtest-workbench) however with a hand built setup it says:

[code]

Same issue with `rest-domain=localhost`.

Clearly a user error, just not sure where

[2022-08-13 05:20] lightningorb commented on #131
Ah. OK so: rest-domain needs to be domain (as the name implies) and not an IP.

[2022-08-13 23:09] #131 closed

[2022-08-15 12:39] sethforprivacy commented on #116
Still the same issue with v0.8.0:

[code]

Config tested:

[code]

Folder structure for cln-REST:

[code]

[2022-08-15 12:47] devastgh commented on #116
Could you just check it without any options specified in c-lightning config?
If it works, set the options one by one, to check which one doesn't work.
I assure it loads fine as a plugin for me without any options specified.

[2022-08-15 12:57] sethforprivacy commented on #116
Same issue, doesn't help:

[code]

[2022-08-16 09:17] devastgh commented on #116
Maybe try it with just `plugin=` not important.

[2022-08-23 13:59] AngeloMetal opened #132 ""Empty reply from server""
Hello, I ran ``curl -X GET "http://localhost:3001/v1/getBalance" -H  "accept: application/json"`` to try out C-Lightning-REST, but I get:
```curl: (52) Empty reply from server```

Node js version: ``v14.16.1``
I'm running a Lightning node normally by the way.

[2022-08-23 15:26] ShahanaFarooqui commented on #132
1: Please ensure that the url is correct? This request should get the authentication error in response.
2: This API expects base64 macaroon value in header.
3: Are you getting any response from ‘getInfo’ API?

[2022-08-23 17:08] AngeloMetal commented on #132
I visit ``http://192.168.2.5:3001/v1/getBalance`` (which is the local IP address) from another computer and get this:
[code]

The API from where? ``http://192.168.2.5:4001/api-docs/``? That "Authorize" button?

``/getinfo``? No.

[2022-08-25 03:44] ShahanaFarooqui commented on #132
1: Please try getinfo api first with GET endpoint at `https://192.168.2.5:3001/v1/getInfo`.
2: You also need to send `macaroon` header in Base64. Default location for the `access.macaroon' is in c-lightning-REST/certs. You can get Base64 access.macaroon value with ` base64 c-lightning-REST/certs/access.macaroon` command.

So your final curl query should be similar to:
`curl -X 'GET' 'https://192.1

[2022-08-25 09:39] AngeloMetal commented on #132
I get: ``{"message":"Authentication Failed!","error":"Bad Macaroon!"}``, which is what I should get.

I enter ``curl -X 'GET' 'https://localhost:3001/v1/getinfo' -H 'accept: application/json' -H 'macaroon: Ag[...]l4='``

And get:
[code]

[2022-08-25 09:46] ShahanaFarooqui commented on #132
If you are running it in the browser then you have to disable ssl certificate check like below:
https://stackoverflow.com/questions/7580508/getting-chrome-to-accept-self-signed-localhost-certificate
https://stackoverflow.com/questions/20088/is-there-a-way-to-make-firefox-ignore-invalid-ssl-certificates

If you are using curl then use --insecure flag to disable TLS cert validity check.
https://curl

[2022-08-25 09:57] AngeloMetal commented on #132
Thanks, it now works.

However, I don't think this satisfies my occasion. I want to get invoice from other peoples' nodes and deliver it to my web page. For example, client connects to my server, my server queries your invoice from your server, I get the invoice, I give your invoice to my client. I'm afraid this isn't possible, because I need other people's ``access.macaroon`` file which is meant

[2022-08-25 10:15] ShahanaFarooqui commented on #132
This question is more relevant for Core Lightning telegram channel. You should learn more about offers (bolt12 invoices).

closing the issue now. Thanks.

[2022-08-25 10:15] #132 closed

[2022-08-25 17:21] ShahanaFarooqui opened #137 "REST API endpoints for Peerswap"
Write below endpoints for CLN peerswap:
------------------------------------------------------------
reloadpolicy (/v1/peerswap/reloadPolicy) - `GET`: Reload the policy file
getswap (/v1/peerswap/swap/:swapId) - `GET`: Returns swap by swapid
listswaps (/v1/peerswap/listSwaps) - `GET`: List swaps
listactiveswaps (/v1/peerswap/listActiveSwaps) - `GET`: Returns active swaps
listswaprequests (/v1/peer

[2022-08-25 17:23] ShahanaFarooqui opened #138 "Non null rest-domain throws error in plugin"
Non null rest-domain throws error in plugin

[2022-08-25 17:24] ShahanaFarooqui opened #139 "Update list channels for multiple channels per peer setup"
Update list channels for multiple channels per peer setup

[2022-08-25 17:25] ShahanaFarooqui commented on #138
Closed with PR #133. Contributed by @chrisguida.

[2022-08-25 17:25] #138 closed

[2022-08-25 17:28] ShahanaFarooqui commented on #139
Fixes Liquidity Ads private channel bug by showing multiple channels for a single peer. Closing with PR #134.

[2022-08-25 17:28] #139 closed

[2022-08-25 17:29] ShahanaFarooqui commented on #137
Closing with PR #135 & #136.

[2022-08-25 17:29] #137 closed

[2022-08-29 07:18] ShahanaFarooqui opened #140 "Gracefully handle `Unknown command` errors"
If a plugin has been killed for any reason and user still sends the request, CLN returns with error as unknown command which can be confusing to the user like `Unknown command 'peerswap-swap-out'`. Rather send an error informing the user about the plugin's failure.

[2022-09-18 12:23] AngeloMetal opened #143 "Problem with parameters"
I'm trying to execute genInvoice from LAN, but I don't quite understand what I'm doing wrong.
[code]
Result:
[code]

Is it the parameters? I'm confused from your main page (and from localhost:4001/api-docs); how am I suppose to insert the parameters?

BTW, I'm using c-lightning v0.10.2. I don't know how can I find out my c-lightning-REST's version.

[2022-09-20 23:02] ShahanaFarooqui opened #144 "Websocket notifications are not working on plugin"
When cl-rest is running as a CLN plugin, its web socket server is not broadcasting updates to its clients.

[2022-09-21 14:07] AngeloMetal commented on #143
Answered here: https://bitcointalk.org/index.php?topic=5414212

[2022-09-21 14:07] #143 closed

[2022-10-01 10:27] AngeloMetal opened #146 "``waitInvoice`` doesn't seem to work"
Function ``waitInvoice`` is supposed to wait until the given invoice is paid, and on success, it returns the object (label, description, payment_hash etc.)

Once I execute it, it cannot get the invoice while I'm sure I've entered the correct label.
[code]
Am I doing something wrong? Function ``listInvoices`` does work.

[2022-10-04 03:57] ShahanaFarooqui commented on #146
@AngeloMetal

- Please pass invoice label as route parameter. `GET` method does not accept JSON data (`-d`).
[code]
- Also note that once executed, this terminal will wait till invoice labelled as `sm2` is not paid.
- Once the invoice is paid, the API will return object response as below:
[code]

[2022-10-04 03:57] #146 closed

[2022-10-19 06:10] bleebl33 opened #147 "Authentication troubleshooting"
My access.macaroon from cl-rest works for RTL, but I'm getting auth failure when I try to add lightningd to Zeus with the hex string, with or without base64. Any advice?

[code]

[2022-10-19 10:43] PatrickGeyer opened #148 "Suggestion: Expose preimage in genInvoice function"
Currently, the genInvoice function does not accept a preset value for preimage.
When generating lnurl bolt11 invoices, it would be useful to be able to specify them.

[2022-10-19 16:22] bleebl33 commented on #147
Finally found my way there:

[code]

I'm still confused why the HEX string authentication didn't work, but base64 is fine too.

[2022-10-19 16:22] #147 closed

[2022-10-19 17:49] ShahanaFarooqui commented on #147
`Base64` is default encoding type for macaroon authentication. To authenticate with `HEX` macaroon value, an additional header `encodingtype` is required:

`curl -k -H "encodingtype:hex" -H "macaroon:$(xxd -ps -u -c 256 access.macaroon)" https://127.0.0.1:3001/v1/getinfo`

[2022-10-19 20:06] ShahanaFarooqui opened #149 "Update CLN Peerswap APIs with final release version updates"
Update CLN Peerswap APIs with final release version updates

[2022-11-02 08:01] jochemin commented on #116
Same error on fresh install, it works when run as it's own service but fails trying to run it as plugin.

[2022-11-04 16:07] ShahanaFarooqui commented on #116
Could you run the plugin after adding `rest-execmode=test` in the config. It might provide us better insights on the failure reason.

I tried all above mentioned scenarios on my local Ubuntu 22 and they all are working successfully. It seems like some local setting issue.

[2022-11-04 16:08] sethforprivacy commented on #116
I'll test again ASAP.

[2022-11-04 16:16] sethforprivacy commented on #116
@ShahanaFarooqui:

[code]

[2022-11-04 16:16] sethforprivacy commented on #116
Still fails to start the plugin, above seems the error returned with execmode=test set.

[2022-11-04 16:17] sethforprivacy commented on #116
The only thing I can think of that may be causing this is the recommended hardening in the lightningd systemd script:

[code]

Testing without it now.

[2022-11-04 16:19] sethforprivacy commented on #116
Disabling those protections resolved the issue, will nail down which one is to blame shortly.

[2022-11-04 16:23] sethforprivacy commented on #116
Narrowed down to this:

[code]

If the user has this hardening measure enabled in their systemd script, c-lightning-REST cannot function as a plugin.

Disabling the hardening has everything working perfectly!

Ideally there is some way you can have both this hardening and the plugin, but that's far above my pay grade.

[2022-11-04 16:30] ShahanaFarooqui commented on #116
@sethforprivacy Thank you for the quick testing and solution.

@jochemin & @litch Could you also verify your permissions or add `rest-execmode=test` to get some failure insights. I am keeping this issue open till then.

[2022-11-04 16:34] litch commented on #116
I was also running the "hardening" systemd script, and that makes perfect sense as to the cause.

I echo the, "I would prefer to run this and have the thing hardened" but likewise don't have enough insight into the changes required to have a strong opinion about whether that would be better than, perhaps a log message that detects that flag and tells the user that that is the cause of the error.

[2022-11-04 18:24] jochemin commented on #116
No luck for me. This is my systemd service:

# /etc/systemd/system/lightningd.service

[Unit]
Description=Core Lightning daemon
Requires=bitcoind.service
After=bitcoind.service
Wants=network.target
After=network.target

[Service]
ExecStart=/home/jochemin/clightning/usr/bin/lightningd --daemon
ExecStop=/bin/sh -c '/home/jochemin/clightning/usr/bin/lightning-cli stop'

# Process management
#########

[2022-11-04 18:27] sethforprivacy commented on #116
Try also commenting out this line, I realized I had it commented out already for other issues:

`ProtectSystem=full`

[2022-11-04 18:29] ShahanaFarooqui commented on #116
@jochemin Also add `rest-execmode=test` in your lightning `config` file to see the failure log from this plugin.

[2022-11-04 18:33] jochemin commented on #116
nov 04 19:32:02 jbtc lightningd[537230]: /usr/bin/env: 'node': No such file or directory
nov 04 19:32:02 jbtc lightningd[537213]: lightningd: /home/jochemin/.lightning/config line 16: rest-execmode=test: unrecognized option

It seems a problem with node executable

[2022-11-04 18:38] jochemin commented on #116
Nope, same error.

[2022-11-04 19:45] ShahanaFarooqui commented on #116
@jochemin It either looks like an incorrect naming issue which can be resolved via symlink OR nodejs-legacy installation might work.

Below are some links for your reference related to these solutions:
https://github.com/nodejs/node-v0.x-archive/issues/3911#issuecomment-8956154
https://github.com/nodejs/node-v0.x-archive/issues/3911#issuecomment-18951288
https://askubuntu.com/questions/1044692/usr

[2022-11-07 15:43] ShahanaFarooqui commented on #116
@jochemin Thank you for the update. Please post your solution, if you find any, as it might help other users.

I am closing this issue now as there is no action required from us anymore.

[2022-11-07 15:43] #116 closed

[2022-11-09 07:45] jochemin commented on #116
I've solved it. The problem was I had this line in the systemd service:

Environment=PATH=/home/jochemin/clightning/usr/bin:/home/jochemin/bitcoin/bin

But node executable is in /usr/bin so it was not accesible. I've added that route and now it works perfect!

[2022-11-16 22:44] ShahanaFarooqui commented on #148
Closing with PR #150

[2022-11-16 22:44] #148 closed